---
title: "Intro til programmering i Python - Del 2"
---

:::{.callout-tip collapse=true}
## Få denne fila inn i Jupyter Lab?

1) Opne Jupyter Lab og velg `Fil > Open from URL...`

    ![](/img/importere-steg1.png)

2) Lim inn lenka under i feltet: **ny lenke her**

    ```bash
    https://raw.githubusercontent.com/lektorodd/tof1-2425/main/intro2-python.ipynb
    ```

    ![](/img/importere-steg2.png)

3) Trykk `Enter` og fila vil opna seg i Jupyter Lab.

:::

## for-løkker

Praktiske når me vil gjenta noko fleire gonger, spesielt om me veit kor mange gonger me skal repetera. 

Sjå på døma under. Ser du kva dei ulike tala i `range()`-funksjonen gjer?

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(5, 11):
    print(i)

5
6
7
8
9
10

In [4]:
for i in range(5, 11, 2):
    print(i)

5
7
9

In [5]:
for tall in range(1, 11):
    print(tall)

1
2
3
4
5
6
7
8
9
10

### Oppgåve!

Bruk informasjonen om `range()` og skriv om koden ovanfor slik at utskriften blir:

	1. Tala frå og med 1 til og med 30.
	2. Dei første 100 partala.
	3. 5-gongen (frå og med 5 til og med 50).
	4. Tal-sekvensen 21, 28, 35, 42.

In [6]:
for i in range(1, 31):
    print(i, end=", ")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,

In [7]:
for i in range(1, 101):
    print(2*i, end=", ")

2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200,

Me kan også bruka for-løkker for å gå gjennom element i ei liste.

In [8]:
fruktliste = ["Eple", "Pære", "Banan", "Plomme"]

for frukt in fruktliste:
    print(frukt)

Eple
Pære
Banan
Plomme

Det er heller ikkje slik at me må bruka `i`-en (eller kva me no vel å kalla den) i løkka. Me kan kun bruka løkka for å gjenta noko eit visst antal gonger.

In [9]:
for i in range(5):
    print("Torodd")

Torodd
Torodd
Torodd
Torodd
Torodd

## Vilkår og logiske operatorar

Handlar om boolske variablar (som me snakka om sist)

In [10]:
a = 4
b = 5

print(a == b)  # like?
print(a <= b)  # mindre eller lik?
print(a >= b)  # større eller lik?
print(a < b)   # mindre enn?
print(a > b)   # større enn?
print(a != b)  # ulik

False
True
False
True
False
True

In [11]:
# kan kombinere

print(a<b or a>b)       # minst ein av dei må stemma
print(a<b and a>b)      # begge må stemma

True
False

### Oppgåve

Sjekk om eit tal (input) er eit **partal større enn 100**. 

(hint: modulus)

In [12]:
# hente inn tal og gjere om til heiltal
tal = int(input("Skriv inn eit tal: "))
          
# sjekke om talet er både partal og større enn 100
# skrive ut resultatet
print(tal>100 and tal%2==0)

False

## if/else-setningar

Gjer at me kan ta valg i koden basert på vilkår

In [13]:
# hente inn tal og gjere om til heiltal
tal = int(input("Skriv inn eit tal: "))

if tal>100 and tal%2==0:
    print(f"{tal} er større enn 100 og partal")
else:
    print(f"{tal} er ikkje større enn 100 og partal")

100 er ikkje større enn 100 og partal

In [14]:
alder = int(input("Skriv inn alderen din: "))

# if elif else
if alder < 16:
    print("Du er ikkje gamal nok til å køyra bil")
elif alder < 18:
    print("Du kan lærekøyra")
else:
    print("Du kan ta lappen")

Du kan lærekøyra

## While-løkker

Løkker som er nyttige når me ikkje veit kor mange gonger me skal gjenta noko. Løkka held fram så lenge vilkåret er sant.

In [15]:
x = 1

while x < 11:
    print(x, end=", ")
    x = x + 1            # kan og skriva: x += 1

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [16]:
print(x)

11

::: {.callout-warning}
## Uendelege løkker

Om vilkåret i ei while-løkke aldri blir usant, vil løkka køyra for alltid. 

Døme på ein slik kode:
    
```python
x = 1
while x < 10:
    print(x)
```

:::

In [17]:
# skrive ut alle kubikktal mindre enn 10 000.
tal = 1

while tal**3 < 10000:
    print(tal**3, end=", ")
    tal += 1

1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261,

## Funksjonar

Me kan laga våre eigne funksjonar i python. Dette kan vera alt frå enkle funksjonar som returnerer eit resultat (som matematiske fuksjonar), til meir komplekse funksjonar som gjer fleire ting.

Me kan t.d. laga ein funksjon for den matematiske funksjonen $f(x) = 3x+4$.

In [18]:
def f(x):
    return 3*x + 4

In [19]:
print(f(9))

31

In [20]:
print(f"x = 3, f(x) = {f(3)}")

x = 3, f(x) = 13

Funksjonar kan ta inn eitt eller fleire argument. Funksjonen kan *gjera noko* (som feks. printe noko til skjermen) eller *returnere noko* (som feks. eit resultat).

In [10]:
# helsefunksjon - definerer
def helsing(namn, alder):
    print(f"Du heiter {namn} og er {alder} år")

# bruker funksjonen
helsing("Torodd", 33)

Du heiter Torodd og er 33 år

### Rekursive funksjonar

Funksjonar som kallar seg sjølv. Nyttig når ein t.d. skal rekne ut ledd i ei talfølge som baserer seg på tidlegare ledd.

Ledd $n$, $a_n$, i talfølgja $1, 3, 7, 15, \ldots$ kan me uttrykka som $a_n = 2\cdot a_{n-1} + 1$.

In [21]:
# Rekursive formlar 
def a(n):
    if n==1:
        return 1
    else: 
        return 2*a(n-1) + 1

In [22]:
a(1)

1

In [23]:
a(3)

7

In [25]:
# bruke for-løkke for å skrive ut dei 10 første ledda:
for i in range(1, 11):
    print(a(i), end=", ")

print("...")

1, 3, 7, 15, 31, 63, 127, 255, 511, 1023, ...

## Oppgåver frå Project Euler

[Project Euler](https://projecteuler.net/) er ei nettside med matematiske problem som ein kan løysa ved hjelp av programmering. Me skal sjå på nokre av desse oppgåvene.

### Problem 1

If we list all the natural numbers below $10$ that are multiples of $3$ or $5$, we get $3, 5, 6$ and $9$. The sum of these multiples is $23$.</p>
<p>Find the sum of all the multiples of $3$ or $5$ below $1000$.

### Problem 2

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with $1$ and $2$, the first $10$ terms will be:
$$1, 2, 3, 5, 8, 13, 21, 34, 55, 89, \dots$$

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.